<html>
<head>
  <meta charset="UTF-8">
  <title>profile</title>
</head>
<body>
  Welcome to your profile user! <br>
  Enter key data to access your cloud services
  <%= form_for :key_datum, url: {:action=>"create", :controller=>"key_data"} do |f| %>
    <%= f.label :key %><br>
    <%= f.text_field :key %>  <br>
    <%= f.submit %>
<% end %>

<%= @key_data %>
</body>
</html>
